{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link rel="icon" href="{{ base_path }}/images/shreya-rajpal.svg?v=1" type="image/svg+xml" sizes="any">
<link rel="shortcut icon" href="{{ base_path }}/images/shreya-rajpal.svg?v=1" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ base_path }}/images/shreya-rajpal.svg">
<meta name="theme-color" content="#176b87">
<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

{% if site.seo_keywords %}<meta name="keywords" content="{{ site.seo_keywords }}">{% endif %}
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="author" content="{{ site.author.name | default: site.name }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">